.ex-1-square {
    transition: 3s;
}

.ex-1-square:hover {
    cursor: pointer;
    background-color: red;
}

.ex-2-square {
    transition: width 4s;
}

.ex-2-square:active {
    cursor: pointer;
    width: 100%;

}
