/**/

/*ESERCIZIO 1*/

.ex-1-square {
    transition: 3s;
}

.ex-1-square:hover {
    cursor: pointer;
    background-color: red;
}

/*ESERCIZIO 2*/

.ex-2-square {
    transition: width 4s;
}

.ex-2-square:active {
    cursor: pointer;
    width: 100%;

}

/*ESERCIZIO 3*/

.ex-3-square {
    transition: border-radius 1s ease-in-out ;
}

.ex-3-square:hover {
    border-radius: 50px;
}

/*ESERCIZIO 4*/

.ex-4-square {
    transition: 2s;
}

.ex-4-square:hover {
    opacity: 0;
}

/*ESERCIZIO 5*/

/*SOLUZIONE POCO CONVINCENTE
@keyframes crescita {
    0% {
        width: 60px;
        height: 60px;
    }

    100% {
        width: 100px;
        height: 100px;
    }
}
 
.ex-5-square:hover {
    animation: crescita 1s ease-in-out;

}

@keyframes shrink {
    0% {
        width: 60px;
        height: 60px;
    }

    100% {
        width: 20px;
        height: 20px;
    }
}

.ex-5-square:active {
    animation: shrink 1s ease-in-out;

}
*/

.ex-5-square {
    transition: 2S ;
}

.ex-5-square:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.ex-5-square:active {
    transform: scale(0.5);
    cursor: pointer;
}

/*ESERCIZIO 6*/

.ex-6-img:hover {
    filter: grayscale(10)
}

/*ESERCIZIO 7*/

.ex-7-img{
    transition: 2s;
}

.ex-7-img:hover {
    filter: brightness(200%) sepia(10);
}

/*ESERCIZIO 8*/

.ex-8-img{
    transition: all 2s;
}

.ex-8-img:hover {
    filter: contrast(100%) sepia(10);
    border-radius: 50px;
}

/*ESERCIZIO 9*/

.ex-9-img{
    transition: all 2s;
}

.ex-9-img:hover {
    filter: contrast(100%) sepia(10);
    border-radius: 50px;
    transform: scale(1.5);
}

/*ESERCIZIO 10*/

@keyframes gira {
    0% {
        transform:rotate(1turn);
    }
}

.ex-10-icon{
    animation: gira 1s linear infinite;
}

/*ESERCIZIO 11*/

@keyframes gira-anti {
    100% {
        transform:rotate(0.75turn);
    }
}

.ex-11-icon:hover{
    animation: gira-anti 1s linear ;
}

/*ESERCIZIO 12*/

@keyframes movimento-alto {
    
    0%{ 
        left: 10%;
    }

    50%{
        left: calc(100% - 60px);
    }
    100%{ 
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-top-white{
    animation: movimento-alto 2s linear;
}


@keyframes movimento-basso {
    
    0%{ 
        right: 20%;
    }

    50%{
        right: calc(100% - 60px);
    }

    100%{
        right: 20%;
    }

}

.ex-12-button:hover .ex-12-bottom-white{
    animation: movimento-basso 2s linear;
}

/*ESERCIZIO 13*/

@keyframes ruota-alto2 {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}   

.ex-13-button:hover .ex-13-top-white{
    animation: ruota-alto2 2s linear infinite;
}


@keyframes ruota-basso2 {

    0% {
        right: 10%;
        bottom: -10px;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        right: 10%;
        bottom: -10px;
    }

}

.ex-13-button:hover .ex-13-bottom-white{
    animation: ruota-basso2 2s linear infinite;
}


